@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0eff5;
  color: #27282f;
  height: 100vh;
}

.selected{
  background-color: #a063f5 !important;
  color: #fff; 
}
